@import '../../../styles/variables';

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
}

html {
	font-family: Roboto;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
}

.AppContainer {
	min-height: 100vh;
	overflow: hidden;
}

/**
	WRAPPER
**/
.u-wrapper {
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
}

/**
	HEADINGS
**/
.u-title {
	color: $color-font-dark;
	font-weight: 300;
	font-size: 28px;
	line-height: 36px;
}

.u-title + .u-subtitle {
	margin-top: 15px;
}

@media screen and (min-width: 560px) {
	.u-title {
		font-size: 48px;
		line-height: 64px;
	}
}

.u-subtitle {
	color: $color-font-light;
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
}

@media screen and (min-width: 560px) {
	.u-subtitle {
		font-size: 24px;
	}
}

/**
	TEXT-ALIGN
**/
.u-ta-c {
	text-align: center;
}

.u-ta-r {
	text-align: right;
}

a {
	color: $color-secondary-dark;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
