@import '../../../styles/variables';

/**
	PAGE HEAD
**/
.PageHead {
	padding: 45px auto;
	text-align: center;
}

.PageHead__title {
	color: $color-font-dark;
	font-size: 28px;
	line-height: 36px;
}

.PageHead__subtitle {
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
	color: $color-font-light;
	padding-top: 5px;
}

@media screen and (min-width: 560px) {
	.PageHead {
		padding: 90px auto;
	}

	.PageHead__title {
		font-size: 48px;
		line-height: 48px;
	}

	.PageHead__subtitle {
		font-size: 24px;
		padding-top: 15px;
	}
}

/**
	HEADER
**/
.Header {
	padding-top: 10px;
	position: relative;
	z-index: 10;
}

.Header.t-dark {
	color: $color-white;
}

.Header.t-dark {
	background: linear-gradient(0deg, $color-darkest, $color-darkest);
}

.Header.t-dark::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: radial-gradient(
		875.03px at 50% 100%,
		$color-heading-background-1 0%,
		$color-heading-background-2 100%
	);
	animation: pulseBG 3s infinite linear;
}

.Header__inner {
	width: 100%;
	max-width: 1220px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	z-index: 1;
}

.Header__bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Header__logo :global(svg) {
	width: auto;
}

.Header__logo :global(path) {
	fill: $color-darkest;
}

.t-dark .Header__logo :global(path) {
	fill: $color-white;
}

.Header__nav-toggle {
	cursor: pointer;
	font-size: 20px;
	line-height: 23px;
}

@media screen and (min-width: 800px) {
	.Header__nav-toggle {
		display: none;
	}
}

.t-light {
	display: none;
}

@keyframes pulseBG {
	from,
	to {
		opacity: 1;
	}

	50% {
		opacity: 0.7;
	}
}
