// Screen sizes
$mql: 1000px;

// From Bootsrap
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * 0.875);
$font-size-xs: ($font-size-base * 0.6);

// Z-Index
$zindex-navbar: 99;

// Content Background
$color-content-background: #ebf0f3;

// Font
$color-placeholder: #cac6c6;
$color-font: #727881;

// Primary Color Palette
$color-prime: #03a9f4;
$color-prime-tint: #b3e5fc;
$color-prime-shade: #0288d1;

// Secondary Color Palette
$color-secondary: #9e9e9e;
$color-secondary-tint: #9e9e9e;
$color-secondary-shade: #616161;

// Neutral Color Palette
$color-neutral: #f2f2f2;
$color-neutral-tint: #fafafa;
$color-neutral-shade: #c1bcbc;

// Grays
$color-border-gray: #f2f5f7;
$color-dark-gray: #f0f3f6;
$color-header-gray: #e3e3e3;
$color-background-gray: #f8f8f8;
$color-light-gray: #f0f4f6;

// White
$color-white: #fefefe;

// Status
$color-success: #45f878;
$color-error: #f74141;
$color-info: #5ba1f4;
$color-warning: #eea919;
