/**
	SECTION
**/
.Innovation__Section {
	margin-top: 30px;
	position: relative;

	.Section__inner {
		max-width: 1170px;
		position: relative;
	}

	@media screen and (min-width: 560px) {
		.Section {
			margin-top: 90px;
			margin-bottom: -45px;
		}

		.Section__header {
			margin-top: 90px;
		}
	}

	@media screen and (min-width: 960px) {
		.Section {
			margin-top: 140px;
			margin-bottom: -90px;
		}
	}

	/**
	HEADING
**/
	.Heading {
		max-width: 870px;
		color: #8d9299;
		font-size: 20px;
		line-height: 30px;
	}

	.Heading__item {
		margin-bottom: 30px;
	}

	@media screen and (min-width: 560px) {
		.Heading__item {
			width: 50%;
		}
	}

	.Heading__item--important {
		font-size: 24px;
		line-height: 36px;
		color: #0b0d11;
		font-weight: 300;
	}

	/**
	Video
**/
	.Video {
		max-width: 1170px;
		margin-top: 30px;
		position: relative;
	}

	@media screen and (min-width: 560px) {
		.Video {
			margin-top: 90px;
		}
	}

	.Video__inner {
		border-radius: 8px;
		padding-top: 55.6%;
		background-image: linear-gradient(119deg, #0b0f15, #3e434a);
	}

	@media screen and (max-width: 560px) {
		.HiddenAtSm {
			display: none;
		}
	}

	@media screen and (max-width: 960px) {
		.HiddenAtMd {
			display: none;
		}
	}
}
