@import '../../../styles/variables';

/**
	SECTION
**/
.Innovation__Section {
	margin-top: 20px;
	position: relative;

	.Section__inner {
		max-width: 1170px;
		position: relative;
	}

	@media screen and (min-width: 560px) {
		margin-top: 40px;
		margin-bottom: -25px;

		.Section__header {
			margin-top: 90px;
		}
	}

	@media screen and (min-width: 960px) {
		margin-top: 60px;
		margin-bottom: -60px;
	}

	/**
		HEADING
	**/
	.Heading {
		max-width: 870px;
		color: $color-font-medium;
		font-size: 20px;
		line-height: 30px;
	}

	.Heading__item {
		margin-bottom: 30px;
	}

	@media screen and (min-width: 560px) {
		.Heading__item {
			width: 50%;
		}
	}

	.Heading__item--important {
		font-size: 24px;
		line-height: 36px;
		color: $color-font-darkest;
		font-weight: 300;
	}

	/**
		Video
	**/
	.Video {
		max-width: 1170px;
		margin-top: 30px;
		position: relative;
	}

	@media screen and (min-width: 560px) {
		.Video {
			margin-top: 90px;
		}
	}

	.Video__inner {
		border-radius: 8px;
		padding-top: 55.6%;
		background-image: linear-gradient(119deg, $color-darkest, #3e434a);
	}

	@media screen and (max-width: 560px) {
		.HiddenAtSm {
			display: none;
		}
	}

	@media screen and (max-width: 960px) {
		.HiddenAtMd {
			display: none;
		}
	}
}
