/**
	SECTION
**/
.CTA__Section {
	background-color: #fafafa;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;

	@media screen and (min-width: 560px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@media screen and (min-width: 960px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	/**
		SPLIT
	**/
	.Split {
		margin-top: 30px;
		margin-left: -10px;
		margin-bottom: -15px;
	}

	.Split :global(*) {
		margin-bottom: 15px;
		margin-left: 10px;
	}

	@media screen and (max-width: 960px) {
		.HiddenAtSm {
			display: none;
		}
	}
}
