/**
	CTA
**/
.CTA {
	text-align: center;
	margin-top: 30px;
	padding-bottom: 80px;
}

.CTA a {
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
}

.CTA a:hover {
	text-decoration: underline;
}

.CTA p {
	color: rgba(255, 255, 255, 0.5);
	line-height: 22px;
}

.Title {
	max-width: 590px;
	margin-left: auto;
	margin-right: auto;
}

.Subtitle {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	font-weight: 300;
	margin-top: 15px;
	margin-bottom: 30px;
	color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 980px) {
	.CTA {
		margin-top: 90px;
		padding-bottom: 90px;
	}

	.Title {
		font-size: 48px;
		line-height: 56px;
	}
}

@media screen and (max-width: 560px) {
	.HiddenAtSm {
		display: none;
	}
}

@media screen and (max-width: 960px) {
	.HiddenAtMd {
		display: none;
	}
}
